.nav
{
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
}

.router-button
{
    box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.685);
}

.router-button > a
{
    text-decoration: none;
    width: 300px;
    margin: 0;
}